@mixin block {
    display: block; 
 }
 @mixin flexible () {
     display: flex;
     justify-content: space-between;
 }
 @mixin flex-center {
     display: flex;
     align-items: center;
 }
 @mixin item-size () {
     width: 360px;
     height: 260px;
 }
 @mixin tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}
@mixin font($font-size, $line-height, $font-weight: 400, $font-style: normal) { 
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    font-style: $font-style;
}
 @mixin font-family {
    @include font(16px, 19px);
    font-family: Lato;
     font-weight: 400;
 }
 @mixin brand-title {
    @include font(48px, 58px, 900);
 }
 @mixin brand-subtitle {
    @include font(37px, 44px, 700);
 }
 @mixin h2 {
    @include font(30px, 36px, 400);
     color: #222222;
     text-align: center;
     text-transform: $offer-text;
 }
 @mixin h3 {
    @include font(16px, 19.2px);
     color: $color-text;
     text-transform: $offer-text;
 }
 @mixin h4 {
    @include font(19.96px,24px);
     color: $color-text-footer;
     margin: 0 0 16px 0;
 }
 @mixin icon {
     background-color: transparent;
     border: none;
 }
 @mixin offer__img {
     width: 360px;
     min-height: 260px;
     background-color: rgba(33, 22, 22, 0.7);
     display: flex;
     justify-content: center;
     align-items: center;
 }
 @mixin header-p {
    @include font(24px, 29px);
     text-transform: $offer-text;
     color: $color-text-red;
     padding: 59px 0 0 0;
 }
 @mixin header-link {
    @include font(14px, 17px);
    color: $color-link;
     padding: 0 0 11px 64px;
 }
 @mixin p-text {
    @include font(16px, 19px);
    text-transform: $offer-text;
     color: $color-text;
     text-align: center;
 }
 @mixin p-text-red {
    @include font(25px, 28.8px);
    text-transform: $offer-text;
     color: $color-text-red;
     text-align: center;
     font-weight: bold;
     top: 123px;
     /*position: absolute;*/
     left: 30%;
 }
 @mixin text {
    @include font(14px, 17px);
     color: #9F9F9F;
     text-align: center;
 }
 @mixin registration-text {
    @include font(24px, 29px);
 }
 @mixin registration-form {
    @include font(16px, 19px, 300);
     color: $color-bg;
 }
 @mixin registration-text-info {
    @include font(-size, -height, 300);
    font-weight: 300;
     font-size: 13px;
     line-height: 16px;
     color: $color-reg-text;
     width: 359px;
     margin: 0 0 39px 0;
 }
 @mixin footer__about-text {
     font-weight: 400;
     font-size: 20px;
     line-height: 24px;
     color: $color-bg-footer;
     text-align: center;
 }
 @mixin text-footer {
     font-weight: 300;
     font-size: 13.972px;
     line-height: 17px;
     text-align: center;
     color: $color-text-footer;
 }
 @mixin footer__sub-text-bold {
     font-weight: 700;
     font-size: 24px;
     line-height: 167.2%;
     color: $color-bg-footer;
     font-weight: bold;
     text-transform: $offer-text;
 }
 @mixin footer__subscrybe-text {
     font-weight: 400;
     font-size: 18px;
     line-height: 30.1px;
     text-transform: $offer-text;
     text-align: center;
 }
 @mixin footer_ct {
     padding-top: 30px;
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     color: #FBFBFB;
 }
 @mixin v-h {
     position: fixed;
     transform: scale(0);
 }
 @mixin catalog__text-about {
     font-weight: 300;
     font-size: 14px;
     line-height: 17px;
     color: $color-card-text;
     margin: 0 0 18px 0;
 }
 
@mixin cart-button {
    width: 100px;
    height: 34px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-transform: $offer-text;
    color: $color-border-reg;
    background-color: $color-text;
    border-color: #A4A4A4;
}

