$color-bg: #222222;
$color-bg-footer: #222224;
$color-menu:#E8E8E8;
$color-top: #F1E4E6;
$color-top-menu: #F8F3F4;
$color-offer: #E5E5E5;
$color-card: #F8F8F8;
$color-card-text: #5D5D5D;
$color-link: #6F6E6E; 
$color-l-grey: #9F9F9F;
$color-border-reg: #A4A4A4;
$color-reg-text: #B1B1B1;
$color-text: #FFFFFF;
$color-text-footer: #FBFBFB;
$color-text-red: #F16D7F;
$color-cart: #F5F3F3;
$offer-text: uppercase; 
$color-carousel: #b1b1b1;

$tablet-width: 768px;
$mobile-width: 375px;

h1 {
    text-transform: $offer-text;
}

form {
    display: flex;
    justify-content: center;
}

img {
    display: block;
}