html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  text-transform: uppercase;
}

form {
  display: flex;
  justify-content: center;
}

img {
  display: block;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.container {
  max-width: 71%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 100% !important;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 100% !important;
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* .video {
    position: fixed;
    min-width: 100%;
    min-height: 100vh;
    z-index: 0;

    &__p {
        position: relative;
    }
}*/
.pagination {
  justify-content: center;
  margin: 0 0 96.5px 0;
}

.icon__fs48-red {
  color: #F16D7F;
  font-size: 48px;
}

.header {
  background-color: #222222;
}
.header__menu {
  padding: 0;
  min-height: 75px;
}
.header___menu {
  display: flex;
  justify-content: space-between;
}
.header__controls-flex {
  display: flex;
}
.header__form {
  height: 100%;
  align-items: center;
}
.header__margin-logo {
  margin-right: 41px;
}
.header__margin {
  margin-right: 33px;
}
.header__logo {
  padding-top: 18px;
  min-height: 75px;
}
.header__icon {
  padding-top: 30px;
  min-height: 75px;
}
.header__icon-search {
  padding-top: 0;
}
.header__icon-nav {
  fill: #E8E8E8;
}
.header__icon-nav:hover, .header__icon-nav:focus {
  cursor: pointer;
  fill: #F16D7F;
}
.header__button {
  background-color: transparent;
  border: none;
  position: relative;
  fill: #E8E8E8;
}
@media (max-width: 375px) {
  .header__button-hide {
    display: none;
  }
}
.header__card::before {
  content: "0";
  color: #F8F8F8;
  font-size: 14px;
  line-height: 12px;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  right: -6px;
  top: 32px;
  background-image: url(/img/ellipse.svg);
  width: 19px;
  height: 19px;
}
.header__menu-nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.header__nav-button {
  display: none;
}
.header__navigation {
  position: absolute;
  width: 232px;
  right: 0;
  background: white;
  display: none;
  min-height: 764px;
  z-index: 1;
}
@media (max-width: 375px) {
  .header__navigation {
    width: 100%;
  }
}
.header .display-block {
  display: block;
}
.header__text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  font-size: 17px;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
  padding: 37px 143px 4px 34px;
  font-weight: bold;
}
.header__link {
  list-style: none;
}
.header__menu-list {
  text-decoration: none;
  list-style-type: none;
}
.header__text-h2 {
  text-transform: uppercase;
  color: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 20px 144px 12px 0;
}
.header__menu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
}
.header__menu-link:hover {
  color: #F16D7F;
  cursor: pointer;
}
.header__info {
  height: 148px;
  background-color: #F8F3F4;
}
@media (max-width: 375px) {
  .header__info {
    text-align: center;
  }
}
.header__info-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .header__info-container {
    flex-direction: column;
  }
}
.header__info-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  padding: 59px 0 0 0;
  text-transform: uppercase;
  color: #F16D7F;
}
@media (max-width: 375px) {
  .header__info-text {
    padding: 50px 0 32px 0;
  }
}
.header__text-black {
  color: #222222;
}
@media (max-width: 375px) {
  .header__text-black {
    padding: 0 0 46px 0;
  }
}
.header__text-right {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.top {
  background-color: #F1E4E6;
}
@media (max-width: 768px) {
  .top {
    min-height: 367px;
  }
}
@media (max-width: 375px) {
  .top {
    min-height: 363px;
  }
}
.top_img_box {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.top_img {
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.top__img-title {
  height: 100%;
  align-items: center;
  display: flex;
  position: relative;
}
.top__img-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 100px;
  background-color: #F16D7F;
  left: -16px;
}
@media (max-width: 375px) {
  .top__img-title::before {
    top: 145px;
  }
}
@media (max-width: 375px) {
  .top__img-title {
    width: 100%;
  }
}
.top__brand-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  width: 100%;
}
@media (max-width: 768px) {
  .top__brand-title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}
@media (max-width: 375px) {
  .top__brand-title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
    padding: 148px 0 0 0;
    text-align: center;
  }
}
.top_man_img {
  width: 50%;
  height: auto;
  float: left;
  background-position: left center;
}
@media (max-width: 375px) {
  .top_man_img {
    display: none;
  }
}
.top__brand-subtitle {
  font-size: 31px;
  line-height: 37px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 768px) {
  .top__brand-subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 375px) {
  .top__brand-subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
}
.top__brand-subtitle--pink {
  color: #F16D7F;
}
.top__wrp {
  opacity: 0.5;
  height: 764px;
  background-color: black;
  display: none;
  width: 100%;
}

.catalog {
  background-color: #E5E5E5;
}
.catalog__container {
  display: flex;
  justify-content: space-between;
}
.catalog__h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.catalog__info {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
  text-align: center;
  line-height: 36px;
  margin-bottom: 48px;
}
.catalog__card {
  list-style: none;
}
@media (max-width: 375px) {
  .catalog__card {
    padding: 0;
  }
}
.catalog__img {
  background: #5D5D5D;
  width: 100%;
  height: auto;
}
.catalog__card-list {
  width: 49%;
}
.catalog__card-text {
  background-color: #F8F8F8;
  margin: 0 30px 30px 0;
}
@media (max-width: 375px) {
  .catalog__card-text {
    margin: 0;
  }
}
.catalog__wrapper-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 139px;
  height: 43px;
  text-align: right;
  padding: 0 16px 0 0;
  background: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.catalog__button-style {
  text-decoration: none;
  color: #FFFFFF;
  z-index: 1;
}
.catalog__wrapper-button::before {
  content: " ";
  width: 26px;
  height: 24px;
  position: absolute;
  background-image: url(/img/cart.png);
  left: 14px;
  top: 10px;
}
.catalog__wrapper-overlay {
  position: relative;
}
.catalog__wrapper-overlay::before {
  content: "";
  width: 100%;
  height: 66%;
  background: rgba(0, 0, 0, 0.46);
  position: absolute;
  top: 0;
}
.catalog__wrapper-overlay::before, .catalog__wrapper-button {
  display: none;
}
.catalog__card-text:hover .catalog__wrapper-overlay::before {
  display: block;
}
.catalog__card-text:hover .catalog__wrapper-button {
  display: block;
}
.catalog h3 {
  padding: 0 0 0 18px;
  text-transform: uppercase;
}
.catalog__text {
  padding: 0 0 20px 18px;
}
.catalog__text-margin {
  margin: 25px 0 12.65px 0;
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  margin: 25px 0 18px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  text-transform: uppercase;
  font-weight: bold;
}
.catalog__text-about {
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  margin: 25px 0 18px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
}
.catalog__price {
  color: #F16D7F;
}
.catalog__margin-last {
  margin: 0 0 30px 0;
}
.catalog__button-product {
  position: relative;
  left: 43%;
  margin: 48.5px 0 95.5px 0;
  width: 211px;
  height: 47px;
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  border: solid #F16D7F 1px;
  transition: all 2s;
}
@media (max-width: 768px) {
  .catalog__button-product {
    margin: 0 0 65px 0;
    left: 33%;
  }
}
@media (max-width: 375px) {
  .catalog__button-product {
    margin: 0 0 96.5px 0;
    left: 20%;
  }
}
.catalog__button-product:hover, .catalog__button-decor:hover, .catalog__button-product:focus, .catalog__button-decor:focus {
  background-color: #F16D7F;
  cursor: pointer;
  outline: none;
  opacity: 0.7;
  transform: scale(1.5);
}
.catalog__button-product:active + .catalog__button-decor {
  opacity: 0.7;
}
.catalog__button-decor {
  text-decoration: none;
  color: #F16D7F;
}
.catalog__button-decor:hover, .catalog__button-decor:focus {
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
}
.catalog__button-decor:active {
  opacity: 0.7;
}
.catalog__dropdown-text {
  text-transform: uppercase;
  color: #6F6E6E !important;
}
.catalog__drop-black {
  font-weight: 700;
  color: #222222 !important;
}
@media (max-width: 375px) {
  .catalog__drop-size {
    font-size: 12px !important;
  }
}
@media (max-width: 375px) {
  .catalog__drop-center {
    align-items: center;
    justify-content: flex-end !important;
  }
}
@media (max-width: 375px) {
  .catalog__link-padding {
    padding: 0.35rem 0.55rem !important;
  }
}
@media (max-width: 375px) {
  .catalog__pagination-margin {
    margin: 0 0 64.5px;
  }
}

.main__choise {
  min-height: 132px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .main__choise {
    min-height: 0;
  }
}
@media (max-width: 375px) {
  .main__choise {
    justify-content: space-between;
    width: 96% !important;
    min-height: 81px;
  }
}
@media (max-width: 375px) {
  .main__dropdown {
    top: 24px;
    margin: 0;
  }
}
.main__choise-filter {
  text-transform: uppercase;
}
.main__choise-characters {
  padding: 51px 0 64px 0;
  text-transform: uppercase;
}
.main__bar-nums {
  color: #222222;
  text-align: center;
  height: 43px;
  width: 283px;
  padding: 48.5px 0 96.5px 0;
}

.btn-secondary {
  color: #222222;
  background-color: none;
  height: 17px;
  width: 44px;
  padding: 51px 0 64px 0;
}

a.page-link {
  color: #222222;
}

.product__carousel {
  min-height: 777px;
}
@media (max-width: 768px) {
  .product__carousel {
    min-height: 624px;
  }
}
@media (max-width: 375px) {
  .product__carousel {
    min-height: 454px;
  }
}
@media (max-width: 375px) {
  .product__carousel-margin {
    margin: 85px 0 0 0;
  }
}
.product__carousel-slide {
  background-color: #b1b1b1;
}
.product__carousel-img {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .product__carousel-img {
    width: 274px;
    height: auto;
  }
}
@media (max-width: 375px) {
  .product__carousel-img {
    height: auto;
  }
}
.product__catalog {
  padding: 129px 0 0 0;
  min-height: 837px;
}
@media (max-width: 375px) {
  .product__catalog {
    padding: 64px 0 0 0;
  }
}
.product__description {
  width: 71%;
  background-color: #F8F8F8;
  margin-top: -3.25rem;
  border: 1px solid #b1b1b1;
}
.product__description-about {
  width: 59%;
  margin-left: 20%;
  padding: 65px 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 768px) {
  .product__description-about {
    width: 80%;
    margin-left: 10%;
  }
}
@media (max-width: 768px) {
  .product__description-about {
    width: 86%;
    margin: 0 auto;
  }
}
.product__red-line {
  color: #EF5B70;
  border: 1px solid;
  margin: 12px 0 12px 0;
}
.product__grey-line {
  margin: 36px 0 0 0;
}
.product__description-red {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}
.product__description-grey {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  font-style: normal;
  color: #6F6E6E;
  text-transform: uppercase;
}
.product__description-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
  text-align: center;
  padding: 48px 0 32px 0;
  margin: 0 auto;
}
.product__description-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  padding: 59px 0 0 0;
  text-transform: uppercase;
  color: #F16D7F;
  padding: 0;
}
.product__description-dropdown {
  width: 32%;
  margin-left: 33%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .product__description-dropdown {
    padding: 0;
  }
}
@media (max-width: 375px) {
  .product__description-dropdown {
    padding: 50px 0 65px 0;
  }
}
.product__description-button {
  margin: 64px 0 48px 0;
  color: #6F6E6E;
  background-color: #F8F8F8;
  border: none;
}
@media (max-width: 768px) {
  .product__description-button {
    margin: 24px 0 40px 0;
  }
}
@media (max-width: 375px) {
  .product__description-button {
    margin: 0;
  }
}
.product__description-button {
  text-align: center;
}
.product__button-margin {
  margin: 0 0 65px 0;
}
.product__description-btn {
  width: 211px;
  height: 48px;
  border-color: #F16D7F;
}
.product__btn-href {
  text-decoration: none;
  color: #F16D7F;
  position: relative;
}
.product__btn-href::before {
  content: "";
  width: 26px;
  height: 24px;
  background-image: url(/img/cart-red.png);
  position: absolute;
  left: -40px;
}

.registration {
  padding: 64px 0 96px 0;
  min-height: 167px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .registration {
    padding: 40px 0 96px 0;
  }
}
@media (max-width: 375px) {
  .registration {
    padding: 40px 0 96px 0;
    display: flex;
    flex-direction: column;
  }
}
.registration__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  padding: 0 0 20.5px 0;
}
.registration__form {
  width: 50%;
  flex-direction: column;
}
.registration fieldset {
  border: none;
}
.registration__padding-bottom1 {
  padding-bottom: 35px;
}
.registration__padding-bottom2 {
  padding-bottom: 5px;
}
.registration__label, .registration__input {
  display: block;
}
.registration__input {
  width: 342px;
  height: 45px;
  margin-bottom: 20px;
  border-color: #A4A4A4;
}
.registration__input-margin {
  margin-bottom: 31px;
}
.registration__input-padding {
  padding-left: 18px;
  color: #B1B1B1;
}
.registration__label {
  flex-direction: column;
}
.registration__form-d {
  display: flex;
}
.registration__radio {
  display: flex;
}
.registration__radio-input {
  display: none;
}
.registration__radio-label {
  margin: 0 0 0 27px;
  position: relative;
  margin-right: 20px;
}
.registration__radio-label::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: -27px;
}
.registration__radio-input:checked + .registration__radio-label:before {
  background-image: url(/img/check.png);
}
.registration__info {
  width: 50%;
  padding: 0 0 0 128px;
}
@media (max-width: 375px) {
  .registration__info {
    padding: 40px 0 0 0;
  }
}
.registration__info-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .registration__info-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
  }
}
.registration__info-header {
  text-transform: uppercase;
}
.registration__item {
  list-style: none;
  margin: 0 0 16px 30px;
  position: relative;
}
.registration__item::before {
  content: " ";
  width: 20px;
  height: 16px;
  position: absolute;
  background-image: url(/img/check.png);
  left: -26px;
  top: 10px;
}
@media (max-width: 768px) {
  .registration__item::before {
    top: 0;
  }
}
.registration__text-info {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
  width: 359px;
  margin: 0 0 39px 0;
}
.registration__button {
  padding: 16px 66px 17px 29px;
  background-color: #F16D7F;
  border: none;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
.registration__button::before {
  content: " ";
  width: 17px;
  height: 10px;
  position: absolute;
  background-image: url(/img/reg-button.png);
  right: 20px;
}

.offer {
  padding: 65px 0 96px 0;
  background-color: #E5E5E5;
}
@media (max-width: 768px) {
  .offer {
    padding: 20px 0 125px 0;
  }
}
@media (max-width: 375px) {
  .offer {
    padding: 64px 0 34px 0;
  }
}
.offer h3 {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}
.offer_text-red {
  font-size: 25px;
  line-height: 28.8px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-align: center;
  font-weight: bold;
  top: 123px;
  /*position: absolute;*/
  left: 30%;
  text-transform: uppercase;
}
.offer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .offer__list {
    flex-direction: column;
  }
}
.offer__item {
  width: 32%;
  flex-direction: column;
  text-decoration: none;
}
@media (max-width: 768px) {
  .offer__item {
    width: 31.6%;
  }
}
@media (max-width: 375px) {
  .offer__item {
    margin: 0 0 32px 0;
    width: 100%;
  }
}
.offer__card {
  width: 100%;
  text-align: center;
}
.offer__item-product:hover {
  cursor: pointer;
}
.offer__item-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer__item-woman {
  background-image: url(/img/women.jpg);
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-image: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .offer__item-woman {
    min-height: 168px;
  }
}
@media (max-width: 375px) {
  .offer__item-woman {
    min-height: 247px;
  }
}
.offer__item-man {
  background-image: url(/img/Man.jpg);
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-image: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .offer__item-man {
    min-height: 168px;
  }
}
@media (max-width: 375px) {
  .offer__item-man {
    min-height: 247px;
  }
}
.offer__item-kids {
  background-image: url(/img/Kids.jpg);
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-image: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .offer__item-kids {
    min-height: 168px;
  }
}
@media (max-width: 375px) {
  .offer__item-kids {
    min-height: 247px;
  }
}
@media (max-width: 375px) {
  .offer__item-kids {
    margin: 0;
  }
}
.offer__item-acs {
  background-image: url(/img/Acs.jpg);
  background-position: center;
  background-size: 100%;
  width: 100%;
  min-height: 180px;
  margin: 30px 0 0 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .offer__item-acs {
    margin: -15px 0 0 0;
  }
}
@media (max-width: 375px) {
  .offer__item-acs {
    height: 111px;
    background-size: 200%;
    margin: 0;
  }
}

.text-red {
  color: #F16D7F;
}

.cart {
  min-height: 214px;
  display: flex;
  justify-content: space-between;
  padding: 96px 0 128px 0;
}
@media (max-width: 768px) {
  .cart {
    display: flex;
    flex-direction: column;
    padding: 39px 0 128px 0;
  }
}
.cart__items {
  width: 100%;
}
.cart__items-box {
  display: flex;
  flex-direction: column;
}
.cart__item-list {
  width: 75%;
  height: 306px;
  margin: 0 0 40px 0;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 0 rgb(40, 40, 40);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  .cart__item-list {
    width: 95%;
  }
}
@media (max-width: 375px) {
  .cart__item-list {
    height: 188px;
  }
}
.cart__item-list::before {
  content: " ";
  position: absolute;
  background-image: url(/img/cross.png);
  width: 19px;
  height: 19px;
  right: 22px;
  top: 28px;
}
@media (max-width: 768px) {
  .cart__item-list::before {
    width: 10px;
    height: 11px;
    right: 17px;
    top: 17px;
  }
}
.cart__item-img {
  width: 38%;
}
.cart__item-header {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  .cart__item-header {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
  }
}
.cart__item-p {
  padding: 22px 100px 62px 31px;
  margin: 0 auto !important;
}
@media (max-width: 768px) {
  .cart__item-p {
    padding: 20px 0 0 17px;
  }
}
.cart__price {
  width: 40%;
}
.cart__price-adress {
  min-height: 272px;
  margin: 0 0 57px 0;
}
.cart__price-legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
  padding: 0 0 20px 0;
}
.cart__price-input {
  width: 342px;
  height: 45px;
  margin-bottom: 20px;
  border-color: #A4A4A4;
  border-color: #A4A4A4;
}
.cart__input-margin {
  margin-bottom: 20px;
}
.cart__input-padding {
  padding-left: 18px;
  color: #B1B1B1;
}
.cart__price-button {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  width: 100px;
  height: 34px;
  color: #A4A4A4;
  background-color: #FFFFFF;
  border-color: #A4A4A4;
  text-transform: uppercase;
}
.cart__price-total {
  min-height: 360px;
  background-color: #F5F3F3;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__top {
  min-height: 341px;
  background-color: #222224;
}
@media (max-width: 768px) {
  .footer__top {
    min-height: 610px;
  }
}
.footer__top-list {
  padding-top: 103px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__top-list {
    flex-direction: column;
    padding-top: 48px;
  }
}
.footer__top-info {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 30px 0 0;
}
@media (max-width: 768px) {
  .footer__top-info {
    padding: 0 0 48px 0;
    width: 48%;
    margin: 0;
  }
}
.footer__icon-delivery {
  margin: 0 0 28px 0;
}
.footer__icon-discount {
  margin: 0 0 19px 0;
}
.footer__icon-crown {
  margin: 0 0 25px 0;
}
.footer h4 {
  font-size: 19.96px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 16px 0;
  color: #FBFBFB;
}
@media (max-width: 768px) {
  .footer h4 {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .footer h4 {
    text-align: center;
  }
}
.footer__text {
  font-size: 13.972px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #FBFBFB;
}
.footer__bottom {
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 375px) {
  .footer__bottom {
    justify-content: center;
    align-items: center;
  }
}
.footer__bottom-bg {
  background-image: url(/img/footer-bg.jpg);
}
.footer__bottom-info {
  min-height: 448px;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  flex: 1 0 auto;
}
@media (max-width: 768px) {
  .footer__bottom-info {
    flex-direction: column;
  }
}
.footer__about {
  width: 395px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer__about {
    padding: 54px 0 0 0;
  }
}
.footer__about-coursive {
  font-style: italic;
}
.footer__about-img {
  padding-bottom: 30px;
}
.footer__about-text {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #222224;
  text-align: center;
}
@media (max-width: 375px) {
  .footer__about-text {
    font-size: 19px;
    line-height: 22.8px;
    font-weight: 400;
    font-style: normal;
  }
}
.footer__subscrybe {
  width: 50%;
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .footer__subscrybe {
    max-width: 96%;
  }
}
@media (max-width: 375px) {
  .footer__subscrybe {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.footer__subscrybe-form {
  padding: 32px 0 0 0;
}
@media (max-width: 768px) {
  .footer__subscrybe-form {
    padding: 27px 0 0 0;
  }
}
@media (max-width: 375px) {
  .footer__subscrybe-form {
    padding: 22px 0 0 0;
  }
}
.footer__copy {
  background-color: #222224;
  height: 79px;
  display: flex;
  justify-content: space-between;
  top: 440px;
  width: 100%;
}
@media (max-width: 375px) {
  .footer__copy {
    min-height: 143px;
  }
}
.footer__subscrybe-text {
  text-transform: uppercase;
}
.footer__subscrybe-text {
  font-size: 18px;
  line-height: 30.1px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .footer__subscrybe-text {
    font-size: 14px;
    line-height: 21.45px;
    font-weight: 400;
    font-style: normal;
    width: 67%;
  }
}
.footer__sub-text-bold {
  font-size: 24px;
  line-height: 167.2%;
  font-weight: 700;
  font-style: normal;
  color: #222224;
  font-weight: bold;
  text-transform: uppercase;
}
.footer__subscrybe {
  text-align: center;
  padding-top: 32px;
}
.footer__input {
  background-color: #E5E5E5;
  width: 234px;
  height: 45px;
  padding-left: 22px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
  text-transform: capitalize;
}
.footer__subscrybe-button {
  background-color: #F16D7F;
  color: #FFFFFF;
  width: 100px;
  height: 45px;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  text-transform: capitalize;
}
.footer__copy-text {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .footer__copy-text {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.footer__icon {
  display: flex;
  list-style: none;
  padding-top: 30px;
  margin-right: 7.5px;
}
@media (max-width: 375px) {
  .footer__icon {
    padding: 30px 0 0 0;
  }
}
.footer__icon-list {
  width: 32px;
  text-align: center;
  margin: 0 8px 0 0;
  width: 35%;
  height: auto;
}
.footer__icon-white:hover {
  color: #F16D7F;
}
.footer__icon-white {
  font-size: 25px;
  color: #F8F8F8;
}
.footer__icon-img {
  padding: 8.5px 0 0 8.5px;
}
.footer__ct {
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}/*# sourceMappingURL=style.css.map */