$color-bg: #222222;
$color-bg-footer: #222224;
$color-menu:#E8E8E8;
$color-top: #F1E4E6;
$color-top-menu: #F8F3F4;
$color-offer: #E5E5E5;
$color-card: #F8F8F8;
$color-card-text: #5D5D5D;
$color-border-reg: #A4A4A4;
$color-reg-text: #B1B1B1;
$color-text: #FFFFFF;
$color-text-footer: #FBFBFB;
$color-text-red: #F16D7F;
$offer-text: uppercase; 

@mixin block {
   display: block; 
}
@mixin flexible () {
    display: flex;
    justify-content: space-between;
}
@mixin flex-center {
    display: flex;
    align-items: center;
}
@mixin item-size () {
    width: 360px;
    height: 260px;
}
@mixin font-family {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
@mixin brand-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
@mixin brand-subtitle {
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
}
@mixin h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    text-transform: $offer-text;
}
@mixin h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: $color-text;
    text-transform: $offer-text;
}
@mixin h4 {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: $color-text-footer;
    margin: 0 0 16px 0;
}
@mixin icon {
    background-color: transparent;
    border: none;
}
@mixin offer__img {
    width: 360px;
    min-height: 260px;
    background-color: rgba(33, 22, 22, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin header-p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: $offer-text;
    color: $color-text-red;
    padding: 59px 0 0 0;
}
@mixin p-text {
    text-transform: $offer-text;
    color: $color-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
@mixin p-text-red {
    text-transform: $offer-text;
    color: $color-text-red;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    top: 123px;
    /*position: absolute;*/
    left: 30%;
    line-height: 28.8px;
}
@mixin text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}
@mixin registration-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}
@mixin registration-form {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: $color-bg;
}
@mixin registration-text-info {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: $color-reg-text;
    width: 359px;
    margin: 0 0 39px 0;
}
@mixin footer__about-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-bg-footer;
    text-align: center;
}
@mixin text-footer {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: $color-text-footer;
}
@mixin footer__sub-text-bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    color: $color-bg-footer;
    font-weight: bold;
    text-transform: $offer-text;
}
@mixin footer__subscrybe-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30.1px;
    text-transform: $offer-text;
    text-align: center;
}
@mixin footer_ct {
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
@mixin v-h {
    position: fixed;
    transform: scale(0);
}
@mixin catalog__text-about {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $color-card-text;
    margin: 0 0 18px 0;
}
* {
    padding: 0;
    margin: 0;
}

body {
    @include font-family;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    text-transform: $offer-text;
}

.visually-hidden {
 @include v-h();
}

.header {
    background-color: $color-bg;
    
    &__menu {
        padding: 0;
        min-height: 75px;
    }

    &___menu {
        display: flex;
        justify-content: space-between;
    }

    &__margin-logo {
        margin-right: 41px;
    }

    &__margin {
        margin-right: 33px;
    }

    &__logo {
        padding-top: 18px;
    }

    &__icon {
        padding-top: 30px;
    }

    &__icon-nav {
         
    }

    &__icon-nav:hover,
    &__icon-nav:focus {
         //opacity: 0.5;
         cursor: pointer;
         fill: $color-text-red;
    }

    &__icon-nav:active {
        
   }

    &__button {
        @include icon;
    }

    &__navigation {
        display: none;
    }

    &__info {
        height: 148px;
        background-color: $color-top-menu;
    }

    &__info-text {
        @include header-p;
    }

}

.top {
    position: relative;
    background-color: $color-top;
    height: 764px;
    
    &_img_box {
        max-width: 100%;
        @include flexible;
    }

    &_img {
        background-repeat: no-repeat;
        flex-grow: 1;
        @include flex-center();
    }

    &_man_img {
       /*width: 50%;*/
        height: 100%;
        float: left;
        background-position: left center;
    }

    &__brand-title {
        @include brand-title;
        padding-left: 91px;
    }

    &__brand-subtitle {
        @include block();
        @include brand-subtitle;
    }

    &__brand-subtitle--pink {
        color: $color-text-red; 
    }
}

.offer {
    padding-top: 65px;
    padding-bottom: 96px;
    background-color: $color-offer;

    h3 {
        @include h3;
    }

    &_text-red {
        @include p-text-red;
    }

    &__list{
        @include flexible;
        flex-wrap: wrap;
        padding-bottom: 30px;
        justify-content: space-between;
    }

    &__item {
        @include item-size;
        flex-direction: column;
    }

    &__item-text {
        @include flex-center;
        justify-content: center;
    }

    &__item-woman {
        background-image: url(img/women.jpg);
        @include offer__img;  
    }

    &__item-man {
        background-image: url(img/Man.jpg);
        @include offer__img;  
    }

    &__item-kids {
        background-image: url(img/Kids.jpg);
        @include offer__img;  
    }
    
    &__item-acs {
        background-image: url(img/Acs.jpg);
        width: 100%;
        height: 180px;
        margin-top: 30px;
        background-repeat: no-repeat;
        background-color: rgba(33, 22, 22, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.catalog {
    background-color: $color-offer;
  
    &__container {
        @include flexible;
    }

    &__h2 {
        @include h2;
    }

    &__info {
        @include text;
        line-height: 36px;
        margin-bottom: 48px;
    }

    &__card {
        list-style: none;
    }

    &__card-text {
        min-height: 581px;
        width: 360px;
        background-color: $color-card;
        margin: 0 30px 30px 0;
    }

    &__card-text:hover,
    &__wrapper-overlay::before
     {
        display: block;
    }

    &__wrapper-overlay {
        position: relative;
    }

    &__wrapper-overlay::before {
        content: '';
        width: 100%;
        min-height: 420px;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        display: none;
    }

    &__img {
        min-width: 360px;
        min-height: 420px;
    }

    &__wrapper-button {
        position: absolute;
        top: 40%;  
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h3 {
        padding: 0 0 0 18px;
        text-transform: $offer-text;
    }

    &__text {
        padding: 0 0 0 18px;
    }

    &__text-margin {
        margin: 25px 0 12.65px 0;
    }

    &__text-about{
        @include catalog__text-about;
    }

    &__price {
        color: $color-text-red;
    }

    &__margin-last {
        margin: 0 0 30px 0;
    }

    &__button-product {
        position: relative;
        left: 43%;
        margin: 48.5px 0 95.5px 0;
        width: 211px;
        height: 47px;
        color: $color-text-red;
        font-size: 16px;
        line-height: 19px;
        border: solid #F16D7F 1px;
    }

    &__button-product:hover,
    &__button-decor:hover,
    &__button-product:focus,
    &__button-decor:focus 
        {
        background-color: $color-text-red;
        cursor: pointer;
        outline: none;
        opacity: 0.7;
    }

    &__button-product:active, 
    &__button-decor:active 
        {
        opacity: 0.7;
    }

    &__button-decor {
        text-decoration: none;
        color: $color-text-red;
    }

    &__button-decor:hover,
    &__button-decor:focus {
        color: $color-text;
        cursor: pointer;
        outline: none;
        opacity: 0.5;
    }

    &__button-decor:active {
        opacity: 0.7;
    }
}

form {
    display: flex;
    justify-content: center;
    }

.registration {
    padding: 64px 0 96px 0;
    min-height: 167px;
    @include flexible;

    &__legend {
        @include registration-form;
        padding: 0 0 20.5px 0;
    }

    &__form {
        width: 50%;
        flex-direction: column;
    }

    fieldset {
        border: none;
    }
    
    &__padding-bottom1 {
        padding-bottom: 35px;
    }

    &__padding-bottom2 {
        padding-bottom: 5px;
    }

    &__label,
    &__input {
        display: block;
    }

    &__input {
        width: 342px;
        height: 45px;
        margin-bottom: 20px;
        border-color: $color-border-reg;
    }

    &__input-margin {
        margin-bottom: 31px;  
    }

    &__input-padding {
        padding-left: 18px;
        color: $color-reg-text;
    }

    &__label {
        flex-direction: column;
    }

    &__form-d {
        display: flex;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        margin: 0 0 0 27px;
        position: relative;
        margin-right: 20px;
    }

    &__radio-label::before{
        position: absolute;
        content: '';
        width: 17px;
        height: 17px;
        border: 1px solid #A4A4A4;
        border-radius: 50%;
        left: -27px;
    }

    &__radio-input:checked + &__radio-label:before {
        background-image: url(img/check.png);
    }

    &__info {
        width: 50%;
    }

    &__info-text {
        @include registration-text();
        margin: 0;
        padding: 0;
    }

    &__info-header {
    text-transform: $offer-text;
    }
    
    &__item {
        list-style: none;
        margin: 0 0 16px 30px;
        position: relative;
    }

    &__item::before {
        content: " ";
        width: 20px;
        height: 16px;
        position: absolute;
        background-image: url(img/check.png);
        left: -26px;
        top: 10px;
    }

    &__text-info {
        @include registration-text-info;
    }
    
    &__button {
        width: 167px;
        padding: 16px 66px 17px 29px;
        background-color: $color-text-red;
        border: none;
        text-transform: $offer-text;
        color: $color-text;
        position: relative;
    }

    &__button::before {
        content: " ";
        width: 17px;
        height: 10px;
        position: absolute;
        background-image: url(img/reg-button.png);
        right: 20px;
    }
}

.footer {
    display: flex;
    flex-direction: column;

   &__top {
       height: 341px;
       background-color: $color-bg-footer;
   } 
   
   &__top-list {
    padding-top: 103px;
    align-items: center;
    @include flexible;
   }

   &__top-info {
       width: 360px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }

   &__icon-delivery {
       margin: 0 0 28px 0;
   }

   &__icon-discount {
    margin: 0 0 19px 0;
    }

    &__icon-crown {
    margin: 0 0 25px 0;
    }

    h4 {
        @include h4;
    }

    &__text {
        @include text-footer();
    }

    &__bottom {
        //flex-direction: column;
        min-height: 100%;
        width: 100%;
        justify-content: space-between;
        display: flex;
    }

    &__bottom-info {
        background-image: url(img/footer-bg.jpg);
        background-color: #f4f4f4;
        width: 100%;
        height: 448px;
        background-repeat: no-repeat;
        align-items: center;
        display: flex;
        flex: 1 0 auto;
        position: absolute;
    }

    &__about {
        width: 395px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &__about-coursive {
        font-style: italic;
    }

    &__about-img {
        padding-bottom: 30px;
    }

    &__about-text {
        width: 360px;
        @include footer__about-text;
    }

    &__subscrybe {
        width: 557px;
        flex: 0 0 auto;
    }

    &__copy {
        background-color: $color-bg-footer;
        height: 79px;
        display: flex;
        justify-content: space-between;
        //width: 1140px;
        position: relative;
        top: 440px;
        width: 100%;
    }

    &__subscrybe-text {
        text-transform: $offer-text;
    }

    &__subscrybe-text {
        @include footer__subscrybe-text;
    }
    
    &__sub-text-bold {
        @include footer__sub-text-bold;
    }  

    &__subscrybe {
        text-align: center;
        padding-top: 32px;
    }

    &__input {
        background-color: $color-offer;
        width: 234px;
        height: 45px;
        padding-left: 22px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border: none;
        
    }

    &__subscrybe-button {
        background-color: $color-text-red;
        color: $color-text;
        width: 100px;
        height: 45px;
        border: none;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__copy-text {
        display: flex;
    }

    &__icon {
        display: flex;
        list-style: none;
        padding-top: 30px;
        margin-right: 7.5px;
    }

    &__ct{
        @include footer_ct;
    }
}