* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header {
  background-color: #222222;
  /*&_menu_list {
        color: $color-menu;
        list-style-type: none;
        display: flex;
    }
    
    .hml-left {
        position: left;
    }
    .hml-right {
        position: right;
    }

    .hml-icon-left {
        padding-right: 41px;
    }

    .hml-icon-left:first-child {
        padding-left: 231px;
    }

    .hml-icon-right {
        padding-right: 33px;
    }*/
}

.header__menu {
  padding: 0;
  min-height: 75px;
}

.header___menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__margin-logo {
  margin-right: 41px;
}

.header__margin {
  margin-right: 33px;
}

.header__logo {
  padding-top: 18px;
}

.header__icon {
  padding-top: 30px;
}

.header__button {
  background-color: transparent;
  border: none;
}

.header_navigation {
  display: none;
}

.top {
  position: relative;
  background-color: #F1E4E6;
  height: 764px;
}

.top_img_box {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_img {
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_man_img {
  /*width: 50%;*/
  height: 100%;
  float: left;
  background-position: left center;
}

.top__brand-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  padding-left: 91px;
}

.top__brand-subtitle {
  display: block;
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
}

.top__brand-subtitle--pink {
  color: #F16D7F;
}

.offer {
  padding-top: 65px;
  padding-bottom: 96px;
  background-color: #E5E5E5;
}

.offer h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.offer_text-red {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  top: 123px;
  /*position: absolute;*/
  left: 30%;
  line-height: 28.8px;
}

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  justify-content: space-between;
}

.offer__item {
  width: 360px;
  height: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__item-woman {
  background-image: url(img/women.jpg);
  width: 360px;
  min-height: 260px;
  background-color: rgba(33, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__item-man {
  background-image: url(img/Man.jpg);
  width: 360px;
  min-height: 260px;
  background-color: rgba(33, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__item-kids {
  background-image: url(img/Kids.jpg);
  width: 360px;
  min-height: 260px;
  background-color: rgba(33, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__item-acs {
  background-image: url(img/Acs.jpg);
  width: 100%;
  height: 180px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-color: rgba(33, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_img {
  width: 100%;
}

.item-acs {
  height: 180px;
  width: 100%;
}

.catalog {
  background-color: #E5E5E5;
  min-height: 1586px;
}

.catalog_h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.catalog .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */