.cart {
    min-height: 214px;
    @include flexible;
    padding: 96px 0 128px 0;

&__items {
    width: 652px;
    //border: 3px solid black;
}

&__items-box {
    display: flex;

}

&__item-list {
    width: 652px;
    height: 306px;
    border: 3px solid black;
}

&__price {
    width: 360px;
    
}

&__price-adress {
    min-height: 272px;
    margin: 0 0 57px 0;
}

&__price-legend {
    @include registration-form;
    text-transform: $offer-text;
    padding: 0 0 20px 0;
}

&__price-input {
    width: 342px;
    height: 45px;
    margin-bottom: 20px;
    border-color: $color-border-reg;
    border-color: #A4A4A4;
}

&__input-margin {
    margin-bottom: 20px;
}

&__input-padding {
    padding-left: 18px;
    color: $color-reg-text;
}

&__price-button {
    @include cart-button;
}

&__price-total {
    min-height: 360px;
    background-color: $color-cart;
}

}