.text-red {
    color: $color-text-red;
}

.cart {
    min-height: 214px;
    @include flexible;
    padding: 96px 0 128px 0;

    @include tablet {
    display: flex;
    flex-direction: column;
    padding: 39px 0 128px 0;
    }

&__items {
    width: 100%;
    //border: 3px solid black;

    @include tablet {
        padding: 0 0 65px 0;
    }
}

&__items-button {
        display: inline-block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 230px;
        height: 50px;
        cursor: pointer;
        top: 0;
        padding: 16.5px 41px 16px 38.5px;
        border: 1px solid rgb(164,164,164);
        -webkit-border-radius: 3px;
        border-radius: 3px;
        font: normal 14px/normal;
        color: rgba(0,0,0,1);
        text-align: center;
        -o-text-overflow: clip;
        text-overflow: clip;
        background: rgba(255,255,255,0.89);
        //text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
        -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 37%;
            height: 33px;
            padding: 9px 17.5px;
        @include font(12px, 14.4px);
        }
      }


&__items-box {
    display: flex;
    flex-direction: column;
}

&__item-list {
    width: 75%;
    height: 306px;
    margin: 0 0 40px 0;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 0 rgba(40,40,40,1) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    border: none;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include tablet {
    width: 95%;
        }

    @include mobile {
        height: 188px;
    }
}

&__item-list::before {
    content: " ";
    position: absolute;
    background-image: url(/img/cross.png);
    width: 19px;
    height: 19px;
    right: 22px;
    top: 28px;

@include tablet {
    width: 10px;
    height: 11px;
    right: 17px;
    top: 17px;
}
}


&__item-img {
    width: 38%;
}

&__item-header {
    text-transform: $offer-text;
    @include font(24px, 29px);

@include tablet {
    @include font(14px, 17px); 
}
}

&__item-p {
    //width: 100%;
    padding: 22px 100px 62px 31px;
    margin: 0 auto !important;

@include tablet {
    padding: 20px 0 0 17px;
}
}

&__buttons {
    display: flex;
    justify-content: space-between;
}

&__price {
    width: 40%
    
}

&__price-adress {
    min-height: 272px;
    margin: 0 0 57px 0;
}

&__price-legend {
    @include registration-form;
    text-transform: $offer-text;
    padding: 0 0 20px 0;
}

&__price-input {
    width: 342px;
    height: 45px;
    margin-bottom: 20px;
    border-color: $color-border-reg;
    border-color: #A4A4A4;
}

&__input-margin {
    margin-bottom: 20px;
}

&__input-padding {
    padding-left: 18px;
    color: $color-reg-text;
}

&__price-button {
    @include cart-button;
}

&__price-total {
    min-height: 360px;
    background-color: $color-cart;
}

}