.header {
    background-color: $color-bg;
    
    &__menu {
    padding: 0;
    min-height: 75px;
    }

    &___menu {
    display: flex;
    justify-content: space-between;
    }

    &__margin-logo {
    margin-right: 41px;
    }

    &__margin {
    margin-right: 33px;
    }

    &__logo {
    padding-top: 18px;
    min-height: 75px;
    }

    &__icon {
    padding-top: 30px;
    min-height: 75px;
    }

    &__icon-nav {
        fill: $color-menu;
        
    }

    &__icon-nav:hover,
    &__icon-nav:focus {
    //opacity: 0.5;
    cursor: pointer;
    fill: $color-text-red;
    }

    &__icon-nav:active {
        
   }

    &__button {
        @include icon;
        position: relative;
        fill: $color-menu;
    }

    &__button-hide {
        @include mobile {
            display: none;
        }
    }

    &__card::before {
        content: '5';
        color: $color-card;
        @include font(14px, 12px);
        position: absolute;
        right: -6px;
        top: 32px;
        background-image: url(/img/ellipse.svg);
        width: 19px;
        height: 19px;
        //z-index: 2;
    }

    &__card::after {
        
    }

    &__menu-nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    //min-height: 23px;
    }

    &__nav-button {
        //display: none;
    }

    &__navigation {
    position: absolute;
    width: 232px;
    //top: 75px;
    right: 0;
    background: white;
    display: none;
    min-height: 764px;
    z-index: 1;

    @include mobile {
    width: 100%;
    }
   
    }

    .display-block {
    display: block;
    }

    &__text {
    @include h2;
    font-size: 17px;
    color: $color-bg;
    text-align: left;
    text-transform: $offer-text;
    padding: 37px 143px 4px 34px;
    font-weight: bold;
    }

    &__link {
    list-style: none;
    }

    &__menu-list {
    text-decoration: none;
    list-style-type: none;
    }

    &__text-h2 {
    text-transform: $offer-text;
    color: $color-text-red;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 20px 144px 12px 0;
    }

    &__menu-link {
    text-decoration: none;
    @include header-link();
    }
    
    &__menu-link:hover {
    color: $color-text-red;
    cursor: pointer;
    }

    &__info {
    height: 148px;
    background-color: $color-top-menu;
    
    @include mobile {
        text-align: center;
    }
    
    }

    &__info-container {
    display: flex;
    justify-content: space-between;
    }

    &__info-text {
    @include header-p;
    }

    &__text-black {
        color: $color-bg;
    }

    &__text-right {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    }
}