.main {
    &__choise {
     min-height: 132px;
     display: flex;
     justify-content: space-evenly;

     @include mobile {
        justify-content: space-between;
        width: 96% !important;
        min-height: 81px;
     }
    }

    &__dropdown {
    
        @include mobile {
            margin: 0;
        }
    }
 
    &__choise-filter {
     //padding: 51px 0 64px 0;
     text-transform: $offer-text;
    }
 
    &__choise-characters {
     padding: 51px 0 64px 0;
     text-transform: $offer-text;
    }
 
    &__bar-nums {
     color: $color-bg;
     text-align: center;
     height: 43px;
     width: 283px;
     padding: 48.5px 0 96.5px 0;
    }
 }

    .btn-secondary {
        color: $color-bg;
        background-color: none;
        height: 17px;
        width: 44px;
        padding: 51px 0 64px 0;
    }

    a.page-link {
        color: $color-bg;
    }
    




