.offer {
    padding: 65px 0 96px 0;
    background-color: $color-offer;

    @include tablet{
        padding: 20px 0 125px 0;
    }

    @include mobile {
        padding: 64px 0 34px 0;
    }

    h3 {
        @include h3;
    }

    &_text-red {
        @include p-text-red;
    }

    &__list{
        @include flexible;
        flex-wrap: wrap;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
        }
    }

    &__item {
        @include item-size;
        flex-direction: column;
        text-decoration: none;

        @include tablet{
            width: 31.6%;
        }
    
        @include mobile {
            margin: 0 0 32px 0;
            width: 100%;
        }
    }

    &__item-product:hover {
        cursor: pointer;
    }

    &__item-text {
        @include flex-center;
        justify-content: center;
    }

    &__item-woman {
        background-image: url(/img/women.jpg);
        @include offer__img;  
    }

    &__item-man {
        background-image: url(/img/Man.jpg);
        @include offer__img;  
    }

    &__item-kids {
        background-image: url(/img/Kids.jpg);
        @include offer__img;  
    }
    
    &__item-acs {
        background-image: url(/img/Acs.jpg);
        background-position: center;
        background-size: 100%;
        width: 100%;
        min-height: 180px;
        margin: 30px 0 0 0;
        background-repeat: no-repeat;
        //background-color: rgba(33, 22, 22, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            margin: -15px 0 0 0;
        }

        @include mobile {
        height: 111px;
        background-size: 200%;
        margin: 30px 0 0 0;
        }
    }
}