.product {

    &__carousel {
        min-height: 777px;
    }

    &__carousel-img {
        margin: 0 auto;
    }

    &__description {
        min-height: 601px;
    }

    &__catalog {
        min-height: 837px;
    }
}

