.top {
    //position: relative;
    background-color: $color-top;
    min-height: 363px;

    @include tablet{
        min-height: 368px;
    }

    @include mobile {
        min-height: 363px;
    }
    
    &_img_box {
        max-width: 100%;
        @include flexible;
    }

    &_img {
        background-repeat: no-repeat;
        flex-grow: 1;
        @include flex-center(); 
        justify-content: flex-start; 
    }

    &__img-title {
        height: 100%;
        align-items: center;
        display: flex;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            //right: 446px;
            width: 12px;
            height: 100px;
            background-color: $color-text-red;
            //left: -32px;
            left: -16px;
        }

        @include mobile {
            width: 100%;
        }
    }

    &__brand-title {
        @include brand-title;
        //padding: 0 0 0 88px;
        //position: relative; 
        width: 100%;

        

        @include tablet {
            @include brand-title-tablet;
        }

        @include mobile {
            @include brand-title-mobile;
            padding: 148px 0 0 0;
            text-align: center;
        }
    }

    &_man_img {
        width: 50%;
        height: auto;
        float: left;
        background-position: left center;

        @include mobile {
           display: none;
        }
    }

    &__brand-subtitle {
        //@include block();
        @include brand-subtitle;
        
        @include tablet {
            @include brand-subtitle-tablet;
        }

        @include mobile {
            @include brand-subtitle-mobile;
            text-align: center;
        }
    }

    &__brand-subtitle--pink {
        color: $color-text-red; 
    }

    &__wrp {
        opacity: 0.5;
        height: 764px;
        background-color: black;
        display: none;
        //position: absolute;
        width: 100%;
        //display: flex;
    }
}