.top {
    //position: relative;
    background-color: $color-top;
    height: 764px;
    
    &_img_box {
        max-width: 100%;
        @include flexible;
    }

    &_img {
        background-repeat: no-repeat;
        flex-grow: 1;
        @include flex-center();       
    }

    &_img-title {
        //padding-right: 331px;
    }

    &_man_img {
       /*width: 50%;*/
        height: 100%;
        float: left;
        background-position: left center;
    }

    

    &__brand-subtitle {
        @include block();
        @include brand-subtitle;
    }

    &__brand-subtitle--pink {
        color: $color-text-red; 
    }
}

.top__brand-title {
    @include brand-title;
    padding: 0 0 0 92px;
    position: relative; 


    .top::before,
    &::before {
        content: '';
        position: absolute;
        right: 446px;
        width: 12px;
        height: 100%;
        color: $color-text-red;
    }
}